body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(252, 206, 240);
    color:antiquewhite;
    padding: 20px;
    margin:0;
}
h1{
    text-align: center;
    color: #fffcfc;
}
form{
    max-width: 600px;
    margin: 0 auto;
    background-color: #f08faf;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #f865cc;
}
form fieldset{
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
form label{
    display: block;
    margin-bottom: 5px;
    color:#ffffff;
}
form legend{
    padding: 0 10px;
    font-weight: bold;
    color: #ffffff;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form input[type="date"],
form input[type="url"],
from select,
form textarea{
    width: calc(100% - 20);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
}
form button{
    cursor: pointer;
    background-color: #ffffff;
    color: #ddd;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}
form button:hover{
    background-color: #fc29bc;
}